.image {
    height:800px;
    width:100px;
}

.macpxtext {
    color:white;
}

.flexitem {
    /* margin: ;
    width: 50; */
    display:flex;
    flex-direction: column;
    color:white;
}

.macpxtext {
    align-items: center;
}

/* .myPix {
    height:800px;
} */